In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/hdi.csv, riqueza https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/pobXedadCenso.csv edad,

In [42]:
DFVacunas = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/Vacunacion/WORK_ARCHIVO_1.csv", ";" ,encoding='ISO-8859-1')
DFVacunas.head(10)

,REGION_CORTO,COD_COMUNA_FINAL,FECHA_INMUNIZACION,SUM_of_SUM_of_1aDOSIS,SUM_of_SUM_of_2aDOSIS,SUM_of_ÚnicaDOSIS
0,Metropolitana Santiago,13101,24/12/2020,280.0,NaN,NaN
1,Metropolitana Santiago,13108,24/12/2020,70.0,NaN,NaN
2,Metropolitana Santiago,13123,24/12/2020,70.0,NaN,NaN
3,Bíobío,8101,25/12/2020,406.0,NaN,NaN
4,Bíobío,8107,25/12/2020,45.0,NaN,NaN
5,Bíobío,8110,25/12/2020,285.0,NaN,NaN
6,Bíobío,8111,25/12/2020,50.0,NaN,NaN
7,Bíobío,8112,25/12/2020,87.0,NaN,NaN
8,Bíobío,8205,25/12/2020,35.0,NaN,NaN
9,Bíobío,8301,25/12/2020,480.0,NaN,NaN

In [102]:
DFriqueza = pd.read_csv("https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/hdi.csv")
DFriqueza.dropna(inplace = True)

In [78]:
DFedad = pd.read_csv("https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/pobXedadCenso.csv")
DFedad.dropna(inplace = True)
DFedad

        COMUNA EDAD_0A5 EDAD_6A14 EDAD_15A64 EDAD_65YMAS
0         1101        0         0         15           0
1         1101        *         *         54          10
2         1101        *         0         28           *
3         1101        *         7         49           *
4         1101        *         *         26           7
...        ...      ...       ...        ...         ...
180494   15202        *         *          6           4
180495   15202        0         0          0           0
180496   15202        0         0          0           0
180497   15202        *         0          9           *
180498   15202        *         0          0           *

[180499 rows x 5 columns]

In [54]:
DFVM = DFVacunas[DFVacunas['REGION_CORTO'] == ('Metropolitana  Santiago')]

DFVM

,REGION_CORTO,COD_COMUNA_FINAL,FECHA_INMUNIZACION,SUM_of_SUM_of_1aDOSIS,SUM_of_SUM_of_2aDOSIS,SUM_of_ÚnicaDOSIS
0,Metropolitana Santiago,13101,24/12/2020,280.0,NaN,NaN
1,Metropolitana Santiago,13108,24/12/2020,70.0,NaN,NaN
2,Metropolitana Santiago,13123,24/12/2020,70.0,NaN,NaN
19,Metropolitana Santiago,13101,25/12/2020,509.0,NaN,NaN
20,Metropolitana Santiago,13106,25/12/2020,55.0,NaN,NaN
...,...,...,...,...,...,...
36991,Metropolitana Santiago,13602,10/06/2021,NaN,NaN,103.0
36992,Metropolitana Santiago,13603,10/06/2021,241.0,242.0,NaN
36993,Metropolitana Santiago,13604,10/06/2021,571.0,519.0,NaN
36994,Metropolitana Santiago,13604,10/06/2021,NaN,NaN,38.0
36995,Metropolitana Santiago,13605,10/06/2021,551.0,358.0,NaN

### En esta parte seleccioné los vacunados de la región metropolitana, y solo seleccione los datos del ultimo día suponiendo que estos serían los más actualizados

In [109]:
dfvm = DFVM[DFVM['FECHA_INMUNIZACION'] == ('10/06/2021')]
dfvm

,REGION_CORTO,COD_COMUNA_FINAL,FECHA_INMUNIZACION,SUM_of_SUM_of_1aDOSIS,SUM_of_SUM_of_2aDOSIS,SUM_of_ÚnicaDOSIS
36901,Metropolitana Santiago,13101,10/06/2021,1849.0,2524.0,NaN
36902,Metropolitana Santiago,13101,10/06/2021,NaN,NaN,75.0
36903,Metropolitana Santiago,13102,10/06/2021,438.0,312.0,NaN
36904,Metropolitana Santiago,13102,10/06/2021,NaN,NaN,1.0
36905,Metropolitana Santiago,13103,10/06/2021,420.0,396.0,NaN
...,...,...,...,...,...,...
36991,Metropolitana Santiago,13602,10/06/2021,NaN,NaN,103.0
36992,Metropolitana Santiago,13603,10/06/2021,241.0,242.0,NaN
36993,Metropolitana Santiago,13604,10/06/2021,571.0,519.0,NaN
36994,Metropolitana Santiago,13604,10/06/2021,NaN,NaN,38.0
36995,Metropolitana Santiago,13605,10/06/2021,551.0,358.0,NaN

### Acá seleccione del dataframe de las edades por comuna solo los datos de las comunas de la región metropolitana

In [103]:
dfe = DFedad.loc[DFedad['COMUNA'].isin([13101,13605])]
dfe

        COMUNA EDAD_0A5 EDAD_6A14 EDAD_15A64 EDAD_65YMAS
121508   13101       24        18        299          80
121509   13101        *         *        137          41
121510   13101       30        27        636          83
121511   13101       14        10        337          55
121512   13101        *         *        315          40
...        ...      ...       ...        ...         ...
172573   13605        0         0          *           *
172574   13605        *         *         10           *
172575   13605        *         *        187           *
172576   13605       20        19        164          32
172577   13605       12        10         69          14

[1944 rows x 5 columns]

### En esta parte intenté sumar las personas por edad y las agrupé en sus respectivas comunas

In [107]:
dfes = dfe.groupby(['COMUNA','EDAD_0A5',"EDAD_6A14","EDAD_15A64","EDAD_65YMAS"]).sum()
dfes

Empty DataFrame
Columns: []
Index: [(13101, *, *, *, *), (13101, *, *, 100, 24), (13101, *, *, 106, 14), (13101, *, *, 108, 10), (13101, *, *, 11, *), (13101, *, *, 11, 0), (13101, *, *, 111, 22), (13101, *, *, 111, 24), (13101, *, *, 12, *), (13101, *, *, 12, 6), (13101, *, *, 121, 15), (13101, *, *, 13, *), (13101, *, *, 131, 8), (13101, *, *, 137, 34), (13101, *, *, 137, 41), (13101, *, *, 14, 5), (13101, *, *, 146, 24), (13101, *, *, 15, *), (13101, *, *, 15, 0), (13101, *, *, 15, 8), (13101, *, *, 16, *), (13101, *, *, 16, 4), (13101, *, *, 16, 8), (13101, *, *, 17, *), (13101, *, *, 18, *), (13101, *, *, 18, 0), (13101, *, *, 18, 4), (13101, *, *, 19, 0), (13101, *, *, 19, 13), (13101, *, *, 20, *), (13101, *, *, 20, 5), (13101, *, *, 20, 7), (13101, *, *, 20, 9), (13101, *, *, 2036, 105), (13101, *, *, 21, *), (13101, *, *, 21, 10), (13101, *, *, 21, 6), (13101, *, *, 22, 0), (13101, *, *, 22, 4), (13101, *, *, 223, 25), (13101, *, *, 23, *), (13101, *, *, 23, 11), (13101, *, *, 23, 4), (13101, *, *, 23, 5), (13101, *, *, 24, *), (13101, *, *, 24, 10), (13101, *, *, 24, 8), (13101, *, *, 24, 9), (13101, *, *, 249, 40), (13101, *, *, 25, 10), (13101, *, *, 25, 6), (13101, *, *, 26, *), (13101, *, *, 26, 6), (13101, *, *, 27, 13), (13101, *, *, 27, 4), (13101, *, *, 27, 6), (13101, *, *, 277, 10), (13101, *, *, 28, *), (13101, *, *, 28, 16), (13101, *, *, 28, 4), (13101, *, *, 28, 6), (13101, *, *, 28, 7), (13101, *, *, 28, 8), (13101, *, *, 29, 13), (13101, *, *, 29, 5), (13101, *, *, 29, 8), (13101, *, *, 30, *), (13101, *, *, 30, 11), (13101, *, *, 30, 13), (13101, *, *, 30, 7), (13101, *, *, 31, 10), (13101, *, *, 31, 11), (13101, *, *, 31, 14), (13101, *, *, 31, 5), (13101, *, *, 31, 6), (13101, *, *, 315, 40), (13101, *, *, 32, 6), (13101, *, *, 32, 7), (13101, *, *, 33, 10), (13101, *, *, 33, 4), (13101, *, *, 33, 6), (13101, *, *, 33, 7), (13101, *, *, 33, 8), (13101, *, *, 34, *), (13101, *, *, 34, 0), (13101, *, *, 34, 12), (13101, *, *, 34, 16), (13101, *, *, 34, 5), (13101, *, *, 34, 6), (13101, *, *, 34, 7), (13101, *, *, 34, 8), (13101, *, *, 34, 9), (13101, *, *, 35, 14), (13101, *, *, 35, 17), (13101, *, *, 35, 5), (13101, *, *, 35, 6), (13101, *, *, 35, 8), (13101, *, *, 35, 9), (13101, *, *, 36, 16), (13101, *, *, 36, 18), ...]

[1832 rows x 0 columns]

In [ ]:
### dado mis capacidades de programación actuales no logré comprender como realizar la cor